*, *:before, *:after{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    padding: 30px;
    background-color: #f8f8f8;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  color: #111;
  font-size: 75px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1; text-align: center;
}
h2{
  color: #111; 
  font-size: 30px; 
  font-weight: 500; 
  line-height: 32px;
  margin: 0 0 72px; 
  text-align: center;
}
h3,span{
  color: #111; 
  font-size: 20px; 
  font-weight: 300; 
  line-height: 32px;
  margin: 0 0 72px; 
  text-align: center;
}
button{
  -webkit-appearance: none;
  background: linear-gradient(#D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  color: #606060;
  border: 1px solid #8F9092;
  box-shadow: 0 6px 8px #D6D7D9;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  margin: 10px;
  padding: 30px;
}
.app{
 background-color: #005a87;
 width: 100%;
 padding: 40px;
}